#saludo{
	position: fixed; 
	left: 0px; 
	top: 15px;
	z-index: 2000; 
	font-family: 'Lobster', cursive;
}


#saludo1{
	display: block;
	-webkit-transform: rotate(-30deg); 
	margin-bottom: 150px;
	margin-left: -20px;
	font-size: 160px;
	z-index: 2000; 
	position: fixed; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}


#saludo2{
	margin-left: 600px;
	margin-bottom: 1500px;
	margin-top: 200px;
	font-size: 160px;
	position: fixed;
	z-index: 2000; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#saludo3{
	margin-left: 550px;
	margin-top: 450px;
	font-size: 160px;
	position: fixed;
	z-index: 2000; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#navegacion {
	position: fixed;
	right: 0px; /* Establecemos la barra en la izquierda */
	top: 10px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; 
}
 

#navegacion ul {
	list-style: none;
}

 
#navegacion ul li a {
	display: inline-block;
	color:#fff;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease; 
}


#navegacion ul li .icon-musica {
	background:black
} 


#navegacion ul li .icon-juegos {
	background: black
}


#navegacion ul li .icon-asistente {
	background: black
}


#navegacion ul li .icon-aplicacion {
	background: black
}


#navegacion ul li a:hover {
	background: cyan;
	padding: 15px 40px; 
}


#final{
    position: fixed;
    bottom: 40px;
    width: 86.7%;
    height: 40px;
    margin-left: -57px;
    z-index:2000;
    font-family: 'Lobster', cursive;
    text-align: right;
    font-size:17px;
}


#fecha{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 25px;
    margin-left: -8px;
    background:black;
    border-top: 4px solid cyan;
    z-index:2000;
    font-family: 'Lobster', cursive;
    text-align: left;
    font-size:17px;
}